asgiref
black
boto3
botocore
cffi
chardet
charset-normalizer
click
colorama
cryptography
cssselect
distro
Django
django-ckeditor
django-cors-headers
django-environ
django-js-asset
django-rest-knox
django-simple-history
django-storages
djangorestframework
gunicorn
jmespath
lxml
mypy-extensions
numpy
packaging
pandas
pathspec
pdfminer.six
pdfplumber
Pillow
platformdirs
# psycopg2==2.9.6
psycopg2-binary
pycparser
pycryptodome
PyJWT
PyMuPDF
PyPDF2
python-dateutil
#python-magic==0.4.15
#python-magic-bin==0.4.15
pytz
roman
s3transfer
six
sqlparse
tzdata
urllib3
Wand